telemetry/
dconf/
Code/
mozilla/
session/
konsolesshconfig
QtProject.conf
yay/
go/
unity3d/
user-dirs.dirs
user-dirs.locale
lazydocker/
dolphinrc
cookie
env.lua
baloofileinformationrc
autostart/
JetBrains/
libreoffice/
syncthing.service
flameshot.ini
openttd/
chromium/
